@model CostEstimate.Models.Common.Class;
@{
    //string _Permission = User.Claims.FirstOrDefault(s => s.Type == "Permission").Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;

}
<link href="~/css/Home/siteHome.css" rel="stylesheet" />
<div class="row center">
    <form action="" id="formMastMoldProcess" name="formMastMoldProcess">

        <div class="row center">

            <div class="col-100 ">
                <table class="tbbrown" id="tbMastMProcess">
                    <tr style="display:none">
                        <th style="text-align:left;" width="50%">Doc No</th>
                        <td style="text-align:center;font-size:9px"> <input type="text" class="form-control left" style="width:100%;height:80%;font-size:12px" autocomplete="off" asp-for="_ViewceMastProcess.mpNo"></td>
                    </tr>
                    <tr>
                        <th style="text-align:left;" width="40%">PROCESS GROUP</th>
                        <td style="text-align:center;font-size:9px"> <input type="text" class="form-control left" style="width:100%;height:80%;font-size:12px" autocomplete="off" asp-for="_ViewceMastProcess.mpGroupName"></td>
                    </tr>
                    <tr>
                        <th style="text-align:left;" width="40%">PROCESS NAME</th>
                        <td style="text-align:center;font-size:9px"> <input type="text" class="form-control left" style="width:100%;height:80%;font-size:12px" autocomplete="off" asp-for="_ViewceMastProcess.mpProcessName"></td>
                    </tr>
                    <tr>
                        <th style="text-align:left;" width="40%">WT Man</th>
                        <td style="text-align:center;font-size:9px">
                            @Html.CheckBoxFor(model => model._ViewceMastProcess.mpEnable_WTMan, new {
                           id = "idmpEnable_WTMan",
                           @class = "form-check-input",
                           @style = "height:20px;width:20px;"
                       })
                            @*@Html.RadioButtonFor(m => m._ViewceMastProcess., "Approve", new { @class = "", required = "required", @style = "height:20px;width:20px;" }) <label style="font-size: 12px;">Approve</label><br />*@

                        </td>
                    </tr>
                    <tr>
                        <th style="text-align:left;" width="40%">WT AUTO</th>
                        <td style="text-align:center;font-size:9px">
                            @Html.CheckBoxFor(model => model._ViewceMastProcess.mpEnable_WTAuto, new {
                           id = "idmpEnable_WTAuto",
                           @class = "form-check-input",
                           @style = "height:20px;width:20px;"
                       })
                            <input type="text" class="form-control left" style="width:100%;height:80%;font-size:12px;display:none" autocomplete="off" asp-for="_ViewceMastProcess.mpIssueBy">
                            <input type="text" class="form-control left" style="width:100%;height:80%;font-size:12px;display:none" autocomplete="off" asp-for="_ViewceMastProcess.mpUpdateBy">
                            @*@Html.RadioButtonFor(m => m._ViewceMastProcess., "Approve", new { @class = "", required = "required", @style = "height:20px;width:20px;" }) <label style="font-size: 12px;">Approve</label><br />*@

                        </td>
                    </tr>

                </table>
                <br />
                <div class="modal-footer">
                    <br />
                    <button type="button" class="btn btn-primary" onclick="Menubar_AddMasterMProcess('@Url.Action("AddMasterMProcess","AddMProcess")')">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>

            </div>

        </div>
    </form>
</div>