@using System.Security.Claims;
@model CostEstimate.Models.Common.Class;
@using CostEstimate.Models.Common;
@*@model IEnumerable<IGrouping<string, CostEstimate.Models.Table.MK.ViewceMastProcess>>*@
@{
    string _Permission = User.Claims.FirstOrDefault(s => s.Type == "Permission").Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;
    string _admin = GlobalVariable.perAdmin.ToUpper();

}
<div class="" style="border:0px solid gray;margin-top:10px;padding:2px;">
    <div class="grid-item fw-800 center " style="text-align:left;font-size:14px;margin-bottom:10px;">
        TOOL & GR.
        <span style="color:darkorange">
            ทั้งหมด
            @Model._ListViewceItemToolGRRequestPartName.Count()
            Part
        </span>
    </div>
    <div>

        <table class="tbgreen TGRPartName" style="width:100%;margin-right:10px;min-width:350px">
            <tr>
                <th>
                    <span style="font-size:10px">
                        No
                    </span>
                </th>

                <th>
                    <span style="font-size:10px">
                       Function
                    </span>
                </th>
                <th>
                    <span style="font-size:10px">
                        Part Name
                    </span>
                </th>
                <th>
                    <span style="font-size:10px">
                        Cavity No.
                    </span>
                </th>
                <th>
                    <span style="font-size:10px">
                        Type Cavity.
                    </span>
                </th>
                <th>
                    <span style="font-size:10px">
                        TOOL COST
                    </span>
                </th>
                <th>
                    <span style="font-size:10px">
                        GR COST
                    </span>
                </th>
            </tr>
            @{
                var row = 0;
            }
            @for (int i = 0; i < Model._ListViewceItemToolGRRequestPartName.Count(); i++)
            {
            <tr id="trbodyTGRPartName">
                <td width="80px">@(row += 1)</td>
                <td width="100px" style="text-align:center">
                    <span style="font-size:10px;font-weight:600">  @Html.DisplayFor(x => x._ViewceMastMoldOtherRequest.mrFunction)</span> 
                </td>
                <td style="text-align:left">
                    <input class="form-control center input-DocumentNoSub" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" asp-for="_ListViewceItemToolGRRequestPartName[i].tpDocumentNoSub" type="text" />
                    <input class="form-control center input-RunNo" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" asp-for="_ListViewceItemToolGRRequestPartName[i].tpRunNo" type="number" />
                    <input class="form-control center input-NoProcess" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" asp-for="_ListViewceItemToolGRRequestPartName[i].mpNoProcess" type="number" />
                    <input class="form-control center input-IssueDate" autocomplete="off" style="width:100%;height:80%;font-size:10px;display:none" asp-for="_ListViewceItemToolGRRequestPartName[i].tpIssueDate" type="text" />

                    <input class="form-control  input-PartName" autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgrey" asp-for="_ListViewceItemToolGRRequestPartName[i].tpPartName" type="text" readonly />

                </td>
                <td style="text-align:left" width="100px">
                    <input class="form-control left input-CavityNo" autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgrey" asp-for="_ListViewceItemToolGRRequestPartName[i].tpCavityNo" type="number" readonly />

                </td>
                <td style="text-align:left">
                    <input class="form-control  input-TypeCavity" autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgrey" asp-for="_ListViewceItemToolGRRequestPartName[i].tpTypeCavity" type="text" readonly />

                </td>
                <td style="text-align:left" width="110px">
                    <input class="form-control center input-ToolCost" autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:yellow" asp-for="_ListViewceItemToolGRRequestPartName[i].tpToolCost" type="number" />

                </td>
                <td style="text-align:left" width="110px">
                    <input class="form-control center input-GrCost" autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:yellow" asp-for="_ListViewceItemToolGRRequestPartName[i].tpGrCost" type="number" />

                </td>
            </tr>
            }
        </table>

    </div>

</div>