@using System.Security.Claims;
@model CostEstimate.Models.Common.Class;
@using CostEstimate.Models.Common;
@*@model IEnumerable<IGrouping<string, CostEstimate.Models.Table.MK.ViewceMastProcess>>*@
@{
    string _Permission = User.Claims.FirstOrDefault(s => s.Type == "Permission").Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;
    string _admin = GlobalVariable.perAdmin.ToUpper();

}
<link href="~/css/Home/siteHome.css" rel="stylesheet" />
<div style="border:0.5px solid gray;padding:10px">
    <div class="row ">
        <div class="col-20">

        </div>
        <div class="col-60">
            <span style="font-weight:600">REMARK</span>
            <table class="summarys" style="margin:10px">
                <tr>
                    <th></th>
                    <th>KIJUN COST</th>
                    <th>SUB MAKER COST</th>
                    <th>MOLD CONTROL</th>
                </tr>
                <tr>
                    <th>COST MATERIAL</th>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:yellow" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCKjMat" id="i_HissubshCKjMat"  /></td>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightskyblue; color:@((Model._ViewceMastSubHistorySum?.shCSmMat ?? 0) < 0 ? "red" : "black");" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCSmMat" id="i_HissubshCSmMat"  readonly /></td>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgray; color:@((Model._ViewceMastSubHistorySum?.shCMcMat ?? 0) < 0 ? "red" : "black");" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCMcMat" id="i_HissubshCMcMat"  readonly /></td>
                </tr>
                <tr>
                    <th>COST COFFICIENT</th>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgray ; color:@((Model._ViewceMastSubHistorySum?.shCKjCofficient ?? 0) < 0 ? "red" : "black");" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCKjCofficient" id="i_HissubshCKjCofficient"  readonly /></td>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgray;display:none" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCSmCofficient" id="i_HissubshCSmCofficient"  readonly /></td>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgray; color:@((Model._ViewceMastSubHistorySum?.shCMcCofficient ?? 0) < 0 ? "red" : "black");" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCMcCofficient" id="i_HissubshCMcCofficient"  readonly /></td>
                </tr>
                <tr>
                    <th>COST WORKING TIME</th>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:yellow" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCKjWorkingTime" id="i_HissubshCKjWorkingTime"  /></td>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightskyblue ; color:@((Model._ViewceMastSubHistorySum?.shCSmWorkingTime ?? 0) < 0 ? "red" : "black");" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCSmWorkingTime" id="i_HissubshCSmWorkingTime"  readonly /></td>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgray ;color:@((Model._ViewceMastSubHistorySum?.shCMcWorkingTime ?? 0) < 0 ? "red" : "black");" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCMcWorkingTime" id="i_HissubshCMcWorkingTime"  readonly /></td>
                </tr>
                <tr>
                    <th>TOTAL COST</th>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:yellow" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCKjTotal" id="i_HissubshCKjTotal"  /></td>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:yellow;display:none" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCSmTotal" id="i_HissubshCSmTotal"  readonly /></td>
                    <td><input class="form-control center " autocomplete="off" style="width:100%;height:80%;font-size:10px;background-color:lightgray ; color:@((Model._ViewceMastSubHistorySum?.shCMcTotal ?? 0) < 0 ? "red" : "black");" type="number" min="0" asp-for="_ViewceMastSubHistorySum.shCMcTotal" id="i_HissubshCMcTotal"  readonly /></td>
                </tr>
            </table>
        </div>
        <div class="col-20">
        </div>


    </div>
</div>
