@model CostEstimate.Models.Common.Class;
@{
    //string _Permission = User.Claims.FirstOrDefault(s => s.Type == "Permission").Value;
    string _NickName = User.Claims.FirstOrDefault(s => s.Type == "NICKNAME")?.Value;
    string _Name = User.Claims.FirstOrDefault(s => s.Type == "Name")?.Value;
    string _SurName = User.Claims.FirstOrDefault(s => s.Type == "SurName")?.Value;
    string _Division = User.Claims.FirstOrDefault(s => s.Type == "Division")?.Value;
    string _Section = User.Claims.FirstOrDefault(s => s.Type == "Section")?.Value;

}

<link href="~/css/Home/siteHome.css" rel="stylesheet" />
<div class="row center">
    <div class="text-left">
        <span style="font-weight:600;font-size:18px">HOUR CHANGE ( 2025) #PLAN</span>
    </div>
    <br />
    <div class="text-left">

        <span style="font-weight:600;font-size:12px">1. LABOUR</span>
        <table class="tbbrown">
            <tr>
                <th colspan="3">
                    DETAIL
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    6
                </th>
                <th>
                    7
                </th>
                <th>
                    8
                </th>
                <th>
                    9
                </th>
                <th>
                    10
                </th>
                <th>
                    11
                </th>
                <th>
                    12
                </th>
                <th>
                    1
                </th>
                <th>
                    2
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td style="width:100px">
                    Indirect
                </td>
                <td style="width:100px">PLAN</td>
                <td>
                    4
                </td>
                <td>
                    5
                </td>
                <td>
                    6
                </td>
                <td>
                    7
                </td>
                <td>
                    8
                </td>
                <td>
                    9
                </td>
                <td>
                    10
                </td>
                <td>
                    11
                </td>
                <td>
                    12
                </td>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    3
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>RESULTS/FORECAST</td>
                <td>
                    4
                </td>
                <td>
                    5
                </td>
                <td>
                    6
                </td>
                <td>
                    7
                </td>
                <td>
                    8
                </td>
                <td>
                    9
                </td>
                <td>
                    10
                </td>
                <td>
                    11
                </td>
                <td>
                    12
                </td>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    3
                </td>
            </tr>

            <tr>
                <td>
                    2
                </td>
                <td style="width:100px">
                    Direct-DG
                </td>
                <td style="width:100px">PLAN</td>
                <td>
                    4
                </td>
                <td>
                    5
                </td>
                <td>
                    6
                </td>
                <td>
                    7
                </td>
                <td>
                    8
                </td>
                <td>
                    9
                </td>
                <td>
                    10
                </td>
                <td>
                    11
                </td>
                <td>
                    12
                </td>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    3
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>RESULTS/FORECAST</td>
                <td>
                    4
                </td>
                <td>
                    5
                </td>
                <td>
                    6
                </td>
                <td>
                    7
                </td>
                <td>
                    8
                </td>
                <td>
                    9
                </td>
                <td>
                    10
                </td>
                <td>
                    11
                </td>
                <td>
                    12
                </td>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    3
                </td>
            </tr>

            <tr>
                <td>
                    3
                </td>
                <td style="width:100px">
                    Direct-PG
                </td>
                <td style="width:100px">PLAN</td>
                <td>
                    4
                </td>
                <td>
                    5
                </td>
                <td>
                    6
                </td>
                <td>
                    7
                </td>
                <td>
                    8
                </td>
                <td>
                    9
                </td>
                <td>
                    10
                </td>
                <td>
                    11
                </td>
                <td>
                    12
                </td>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    3
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>RESULTS/FORECAST</td>
                <td>
                    4
                </td>
                <td>
                    5
                </td>
                <td>
                    6
                </td>
                <td>
                    7
                </td>
                <td>
                    8
                </td>
                <td>
                    9
                </td>
                <td>
                    10
                </td>
                <td>
                    11
                </td>
                <td>
                    12
                </td>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    3
                </td>
            </tr>

        </table>
        <br />
        <span style="font-weight:600;font-size:12px">2. DEPRECIATION</span>
        <table class="tbbrown">
            <tr>
                <th>
                    DETAIL
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    6

                </th>
                <th>
                    7
                </th>
                <th>
                    8
                </th>
                <th>
                    9
                </th>
                <th>
                    10
                </th>
                <th>
                    11
                </th>
                <th>
                    12
                </th>
                <th>
                    1
                </th>
                <th>
                    2
                </th>
                <th>
                    3
                </th>
            </tr>

        </table>
        <br />
        <span style="font-weight:600;font-size:12px">3. MANUFACTURING  EXPENSES</span>
        <table class="tbbrown">
            <tr>
                <th>
                    DETAIL
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    6

                </th>
                <th>
                    7
                </th>
                <th>
                    8
                </th>
                <th>
                    9
                </th>
                <th>
                    10
                </th>
                <th>
                    11
                </th>
                <th>
                    12
                </th>
                <th>
                    1
                </th>
                <th>
                    2
                </th>
                <th>
                    3
                </th>
            </tr>

        </table>
        <br />
        <span style="font-weight:600;font-size:12px">4. CLASSIFICATION of EACH JOB</span>
        <table class="tbbrown">
            <tr>
                <th>
                    DETAIL
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    6

                </th>
                <th>
                    7
                </th>
                <th>
                    8
                </th>
                <th>
                    9
                </th>
                <th>
                    10
                </th>
                <th>
                    11
                </th>
                <th>
                    12
                </th>
                <th>
                    1
                </th>
                <th>
                    2
                </th>
                <th>
                    3
                </th>
            </tr>

        </table>
    </div>
    <div class="modal-footer">
        <br />
        <button type="button" class="btn btn-primary" onclick="Menubar_AddMasterCostPlanning('@Url.Action("AddMasterCostPlanning","AddCost")')">Save</button>
        @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@

    </div>
</div>